<ion-header>
  <ion-navbar>
    <ion-title>Consulta tu número</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="consulta()">
    <ion-item>
      <ion-label>Número:</ion-label>
      <ion-input type="text" [(ngModel)]="decimo.numero" name="numero"></ion-input>
    </ion-item>
   <button ion-button type="submit">Consultar</button>
  </form>
  <div *ngIf="premiado">DECIMO PREMIADO CON {{premio}}</div>
  <div *ngIf="error==0 && !premiado">TU DÉCIMO NO TIENE PREMIO 😟</div>
  <div *ngIf="error==0"> 
    <p>Estado del sorteo: {{mensajeEstado}}</p>
    <!--<p>Última consulta hecha: {{fecha}}</p>-->
  </div>
</ion-content>
