page-home {
    
    .fondoBoton{
        background: $colorPrincipal;
    }
    input.text-input.text-input-md{
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }
    
}

